# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
env/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Pydantic
*.mypy_cache/

# Database
*.db
*.sqlite3

# Logs
*.log

# dotenv
.env
