# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# Databases
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Cache
.cache/

# Uvicorn reload files
*.pid
# Docker
*.pid
*.tar
docker-compose.override.yml
